.chatbot-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: transform 0.3s ease;
}

.chat-circle-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: auto;
}

.chat-window {
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: 100%;
  height: 70%;
  max-height: 700px;
  max-width: 90%;
  min-width: 300px;
  border-radius: 15px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  transform-origin: bottom right;
  transform: scale(0);
  opacity: 0;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.chat-window.open {
  transform: scale(1);
  opacity: 1;
}

@media (max-width: 600px) {
  .chat-window {
    width: 90%;
    bottom: 90px;
  }
}

.chat-display {
  position: relative;
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 15px;
  scroll-behavior: smooth;
  scrollbar-width: 3px;
}

.start-conversation {
  height: 100%;
  width: 100%;
  color: #888888;
  display: flex;
  justify-content: center;
  align-items: center;
}

.typing-row {
  display: flex;
  flex-direction: row;
  align-items: end;
}
.powered-by {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  font-size: 13px;
}

.milestone-bold {
  font-weight: bold;
  margin-left: 4px;
}

.down-arrow {
  position: absolute;
  cursor: pointer;
  z-index: 100;
  bottom: 104px;
  right: 15px;
  width: 30px;
  height: 30px;
}
