.chat-message-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 8px 0;
}

.chat-row {
  display: flex;
  flex-direction: row;
  align-items: end;
}

.chat-message-bot {
  align-items: flex-start;
}

.chat-message-user {
  align-items: flex-end;
}

.chat-message {
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  overflow-wrap: anywhere;
}

.bot-message {
  max-width: 70%;
  overflow: auto;
  padding: 16px;
}

.event-title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 6px;
}

.chat-timestamp {
  font-size: 11px;
  margin-top: 5px;
}

.chat-bot-timestamp {
  font-size: 11px;
  margin-top: 3px;
  margin-left: 36px;
  opacity: 60%;
}

.chat-user-timestamp {
  font-size: 11px;
  margin-top: 3px;
  opacity: 60%;
}

.bot-avatar {
  width: 30px;
  height: 30px;
  margin-right: 6px;
}

.bot-avatar img {
  width: 100%;
  height: 100%;
}

.chat-date {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

/* Add the following styles for overwrite markdown styles from chatbot */
.bot-message h1 {
  font-size: 17px;
  font-weight: 700;
}

.bot-message h2 {
  font-size: 15px;
  font-weight: 600;
}

.bot-message h3 {
  font-size: 13px;
  font-weight: 600;
}

.bot-message img {
  max-width: 50%;
}

.bot-message table {
  border-collapse: collapse;
  border: 1px solid black;
}

.bot-message table td,
th {
  border: 1px solid black;
  padding: 8px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

.bot-message ol {
  padding-left: 16px;
}
