.chat-message-container {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
}

.chat-message-bot {
  align-items: flex-start;
}

.chat-message-user {
  align-items: flex-end;
}

.chat-message {
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
}

.bot-message {
  padding-top: 0px;
  padding-bottom: 0px;
}

.event-title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 6px;
}

.chat-timestamp {
  font-size: 11px;
  margin-top: 5px;
}

.chat-date {
  font-size: 12px;
  margin-top: 5px;
  text-align: center;
  width: 100%;
  margin-bottom: 12px;
}
